h1{
    color: #BDBDBD;
}

.about{
    background-color: #FBFBFB;
}

.about-p{
    line-height: 2;
}

.paragraph{
    line-height: 1.6;
}

.btn-project{
    background-color: #333333;
    padding: 10px 20px;
    color: white;
}

.footer{
    background-color: #2C2C2C;
    line-height: 2;
}